.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.views{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tasklist {
  text-align: center;
  background: #8758ff;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  color: white;
}